<div class="newInternComp">
    <h1>New Intern </h1>
  
    <div class="add-intern-form">
      <mat-form-field>
        <h2>Name</h2>
        <input matInput [(ngModel)]="inputName" name="Name" />
      </mat-form-field>
  
      <mat-form-field>
        <h2>Date of Birth</h2>
        <textarea matInput [(ngModel)]="inputDateOfBirth" name="Date of Birth"></textarea>
      </mat-form-field>
  
      <mat-form-field>
        <h2>Gender</h2>
        <input matInput [(ngModel)]="inputGender" name="Gender"/>
      </mat-form-field>

      <mat-form-field>
        <h2>Age</h2>
        <mat-select [(ngModel)]="thisAge" *ngIf="ages">
          <mat-option *ngFor="let age of ages" [value]="age">{{age}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <button mat-button (click)="addIntern()">Add Intern</button>
  </div>
  